<!DOCTYPE html>
<html>
<head>
    <style>
        /* Add CSS styles to make the button bigger */
        input[type="submit"] {
            font-size: 18px; /* Increase font size */
            padding: 12px 24px; /* Increase padding for height and width */
        }
    </style>
</head>
<body>
<form action="https://sandbox.ipay.lk/ipg/checkout" method="POST">
    <input
            name="merchantWebToken"
            type="hidden"
            value="eyJhbGciOiJIUzUxMiJ9.eyJiYW5rQWNjb3VudCI6ImFjYy4yM2VlQExPRkNAMSIsIm1lcmNoYW50Q29kZSI6IjIzZWUiLCJjcmVhdGVkRGF0ZSI6MTY4MDMxNjE2NjQ1NCwibWVyY2hhbnRJZCI6NDI3LCJpc1ZpcnR1YWwiOiJOIiwibWVyY2hhbnROYW1lIjoiamhqaGpoamhqIn0.dYdgZ2MYSqiynlq4NPsOAz8KYZLWG9R6Vr7kzmnuWSg1vQZDgDSvYHt5aknD4v4REIGC5CJwhEStSpn15NL1sg"
    />
    <input name="orderId" type="hidden" value="OID123456"/>
    <input name="orderDescription" type="hidden" value="My Order"/>
    <!-- Optional -->
    <input
            name="returnUrl"
            type="hidden"
            value="http://mywebsite.com/return?orderId=OID123456"
    />
    <input
            name="cancelUrl"
            type="hidden"
            value="http://mywebsite.com/cancel?orderId=OID123456"
    />
    <input name="subMerchantReference" type="hidden" value=""/>
    <table>
        <tr>
            <td><input name="totalAmount" type="hidden" value="2000"/></td>
        </tr>
        <tr>
            <input name="customerName" type="hidden" value="Test user"/>
            </td>
        </tr>
        <tr>
            <td><input name="customerPhone" type="hidden" value="0701234567"/></td>
        </tr>
        <tr>
            <input name="customerEmail" type="hidden" value="myemail@mail.com"/>
            </td>
        </tr>
    </table>
    <br/>
    <input type="submit" value="Checkout Now"/>
</form>
</body>
</html>
